DATABASE_URL=postgres://user:password@host.neon.tech/dbname?sslmode=require
AUTH_SECRET=
AUTH_URL=http://localhost:3000
AUTH_RESEND_KEY=
AUTH_RESEND_FROM=login@example.com
NTFY_BASE_URL=https://ntfy.sh
CRON_SECRET=
